In [1]:
library(haven)

In [2]:
#load Ed Data
meapdata<-read_dta("MEAP93.dta")
head(meapdata)

  lnchprg enroll staff expend salary benefits droprate gradrate math10 sci11
1 1.4      1862  112.6 5765   37498   7420    2.9       89.2    56.4   67.9
2 2.3     11355  101.2 6601   48722  10370    1.3       91.4    42.7   65.3
3 2.7      7685  114.0 6834   44541   7313    3.5       91.4    43.8   54.3
4 3.4      1148   85.4 3586   31566   5989    3.6       86.6    25.3   60.0
5 3.4      1572   96.1 3847   29781   5545    0.0      100.0    15.3   65.8
6 3.4      2496  101.1 5070   36801   5895    2.7       89.2    46.0   60.5
  totcomp ltotcomp lexpend  lenroll  lstaff   bensal    lsalary
1 44918   10.71259 8.659560 7.529407 4.723842 0.1978772 10.53204
2 59092   10.98685 8.794976 9.337414 4.617099 0.2128402 10.79389
3 51854   10.85619 8.829665 8.947025 4.736198 0.1641858 10.70417
4 37555   10.53356 8.184793 7.045776 4.447346 0.1897295 10.35984
5 35326   10.47237 8.255049 7.360104 4.565389 0.1861925 10.30163
6 42696   10.66186 8.531096 7.822445 4.616110 0.1601859 10.51328

In [3]:
#regress test scores on enrollment, total compensation and number of staff
reg2<-lm(math10~enroll + totcomp + staff, data = meapdata)
summary(reg2)

Call:
lm(formula = math10 ~ enroll + totcomp + staff, data = meapdata)

Residuals:
    Min      1Q  Median      3Q     Max
-22.235  -7.008  -0.807   6.097  40.689

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  2.2740209  6.1137938   0.372    0.710
enroll      -0.0001976  0.0002152  -0.918    0.359
totcomp      0.0004586  0.0001004   4.570 6.49e-06 ***
staff        0.0479199  0.0398140   1.204    0.229
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 10.24 on 404 degrees of freedom
Multiple R-squared:  0.05406,	Adjusted R-squared:  0.04704
F-statistic: 7.697 on 3 and 404 DF,  p-value: 5.179e-05

In [4]:
#regress test scores on log enrollment, log compensation, and log staff
reg3 <-lm(math10~lenroll + ltotcomp + lstaff, data = meapdata)
summary(reg3)

Call:
lm(formula = math10 ~ lenroll + ltotcomp + lstaff, data = meapdata)

Residuals:
    Min      1Q  Median      3Q     Max
-22.735  -6.838  -0.835   6.139  39.718

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -207.6648    48.7031  -4.264 2.50e-05 ***
lenroll       -1.2680     0.6932  -1.829   0.0681 .
ltotcomp      21.1550     4.0555   5.216 2.92e-07 ***
lstaff         3.9800     4.1897   0.950   0.3427
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 10.18 on 404 degrees of freedom
Multiple R-squared:  0.06538,	Adjusted R-squared:  0.05844
F-statistic:  9.42 on 3 and 404 DF,  p-value: 4.974e-06

In [5]:
#use twoyeardataset
twoyeardata<- read_dta("twoyear.dta")
head(twoyeardata)

  female phsrank BA AA black hispanic id  exper jc        univ     ⋯ medcity
1 1      65      0  0  0     0         19 161   0.0000000 0.000000 ⋯ 0
2 1      97      0  0  0     0         93 119   0.0000000 7.033333 ⋯ 0
3 1      44      0  0  0     0         96  81   0.0000000 0.000000 ⋯ 0
4 1      34      0  0  0     1        119  39   0.2666667 0.000000 ⋯ 0
5 1      80      0  0  0     0        132 141   0.0000000 0.000000 ⋯ 0
6 0      59      0  0  0     0        156 165   0.0000000 0.000000 ⋯ 0
  submed lgcity sublg vlgcity subvlg ne nc south totcoll
1 0      0      1     0       0      1  0  0     0.0000000
2 0      0      0     0       0      0  1  0     7.0333333
3 0      0      1     0       0      1  0  0     0.0000000
4 0      0      0     0       0      0  0  0     0.2666667
5 0      0      0     0       0      0  0  1     0.0000000
6 0      0      0     0       0      0  0  1     0.0000000

In [6]:
#generate regression model
reg4 <- lm(lwage ~ jc + univ + exper, data = twoyeardata)
summary(reg4)

Call:
lm(formula = lwage ~ jc + univ + exper, data = twoyeardata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.4723256  0.0210602  69.910   <2e-16 ***
jc          0.0666967  0.0068288   9.767   <2e-16 ***
univ        0.0768762  0.0023087  33.298   <2e-16 ***
exper       0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

In [7]:
#test for equality of coefficients.  Need "car" library
library(car)
#command linearHypothesis takes the regression object, and then states the model
linearHypothesis(reg4, "jc = univ")

Loading required package: carData

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 6760   1250.942 NA        NA       NA       NA
2 6759   1250.544  1 0.3985339 2.154016 0.142244

In [8]:
#alternative: rewrite the model
twoyeardata[,"allschool"]= twoyeardata[,"jc"]+twoyeardata[,"univ"]
reg5 <- lm(lwage ~ jc + allschool + exper, data = twoyeardata)
summary(reg5)

Call:
lm(formula = lwage ~ jc + allschool + exper, data = twoyeardata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.4723256  0.0210602  69.910   <2e-16 ***
jc          -0.0101795  0.0069359  -1.468    0.142
allschool    0.0768762  0.0023087  33.298   <2e-16 ***
exper        0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

In [9]:
#read in birthweight data
bweight <- read_dta("BWGHT.DTA")
head(bweight)
reg9 <- lm(bwght~cigs + parity + motheduc + fatheduc, data = bweight)
summary(reg9)

  faminc cigtax cigprice bwght fatheduc motheduc parity male white cigs
1 13.5   16.5   122.3    109   12       12       1      1    1     0
2  7.5   16.5   122.3    133    6       12       2      1    0     0
3  0.5   16.5   122.3    129   NA       12       2      0    0     0
4 15.5   16.5   122.3    126   12       12       2      1    0     0
5 27.5   16.5   122.3    134   14       12       2      1    1     0
6  7.5   16.5   122.3    118   12       14       6      1    0     0
  lbwght   bwghtlbs packs lfaminc
1 4.691348 6.8125   0      2.6026897
2 4.890349 8.3125   0      2.0149031
3 4.859812 8.0625   0     -0.6931472
4 4.836282 7.8750   0      2.7408400
5 4.897840 8.3750   0      3.3141861
6 4.770685 7.3750   0      2.0149031

Call:
lm(formula = bwght ~ cigs + parity + motheduc + fatheduc, data = bweight)

Residuals:
    Min      1Q  Median      3Q     Max
-96.139 -11.935   0.778  12.649 151.255

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 113.7365     3.6950  30.782  < 2e-16 ***
cigs         -0.6059     0.1102  -5.497 4.72e-08 ***
parity        1.7650     0.6596   2.676  0.00756 **
motheduc     -0.2764     0.3141  -0.880  0.37901
fatheduc      0.5795     0.2740   2.115  0.03464 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 19.8 on 1186 degrees of freedom
  (197 observations deleted due to missingness)
Multiple R-squared:  0.03684,	Adjusted R-squared:  0.03359
F-statistic: 11.34 on 4 and 1186 DF,  p-value: 4.913e-09

In [10]:
#regress birthweight on cigs and parity
reg6<-lm(bwght~cigs + parity, data = bweight)
summary(reg6)

Call:
lm(formula = bwght ~ cigs + parity, data = bweight)

Residuals:
    Min      1Q  Median      3Q     Max
-95.866 -11.866   1.134  13.134 152.134

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 117.38306    1.12967 103.909  < 2e-16 ***
cigs         -0.52895    0.09054  -5.842 6.41e-09 ***
parity        1.48264    0.60487   2.451   0.0144 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 20.09 on 1385 degrees of freedom
Multiple R-squared:  0.02695,	Adjusted R-squared:  0.02555
F-statistic: 19.18 on 2 and 1385 DF,  p-value: 6.074e-09

In [11]:
#only keep observations where all variables are not missing for F calculation
bweight<- subset(bweight, is.na(fatheduc) == F &is.na(motheduc)== F)
#regress birthweight on cigarette consumption,  birth order, and family income
reg7<- lm(bwght ~ cigs + parity + faminc, data = bweight)
summary(reg7)

Call:
lm(formula = bwght ~ cigs + parity + faminc, data = bweight)

Residuals:
    Min      1Q  Median      3Q     Max
-95.811 -11.552   0.524  12.739 150.848

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 115.46993    1.65590  69.733  < 2e-16 ***
cigs         -0.59785    0.10877  -5.496 4.74e-08 ***
parity        1.83227    0.65754   2.787  0.00541 **
faminc        0.06706    0.03239   2.070  0.03865 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 19.8 on 1187 degrees of freedom
Multiple R-squared:  0.03642,	Adjusted R-squared:  0.03398
F-statistic: 14.95 on 3 and 1187 DF,  p-value: 1.472e-09

In [12]:
#include family background controls
reg8 <- lm(bwght ~ cigs + parity + faminc + motheduc + fatheduc, data = bweight)
summary(reg8)

Call:
lm(formula = bwght ~ cigs + parity + faminc + motheduc + fatheduc,
    data = bweight)

Residuals:
    Min      1Q  Median      3Q     Max
-95.796 -11.960   0.643  12.679 150.879

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 114.52433    3.72845  30.716  < 2e-16 ***
cigs         -0.59594    0.11035  -5.401 8.02e-08 ***
parity        1.78760    0.65941   2.711  0.00681 **
faminc        0.05604    0.03656   1.533  0.12559
motheduc     -0.37045    0.31986  -1.158  0.24702
fatheduc      0.47239    0.28264   1.671  0.09492 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 19.79 on 1185 degrees of freedom
Multiple R-squared:  0.03875,	Adjusted R-squared:  0.03469
F-statistic: 9.553 on 5 and 1185 DF,  p-value: 5.986e-09

In [13]:
#calculate sums of squared residuals
#unrestricted model
SSRU<-sum(resid(reg8)^2)
SSRU
#restricted model
SSRR<-sum(resid(reg7)^2)
SSRR
#identify n
n <- nobs(reg8)
n

[1] 464041.1

[1] 465166.8

[1] 1191

In [14]:
#generate F test
F1<- ((SSRR-SSRU)/2)/(SSRU/(n-5-1))
F1

[1] 1.437269

In [15]:
#R-squared calculation
#Pull unrestricted R-squared from regression output
Rsq_u <-summary(reg8)$r.squared
Rsq_u
#Pull restricted R-squared from regression output
Rsq_r <-summary(reg7)$r.squared
Rsq_r
F2 <- ((Rsq_u-Rsq_r)/2)/((1-Rsq_u)/(n-5-1))
F2

[1] 0.03874818

[1] 0.03641641

[1] 1.437269

In [16]:
#use linearHypothesis test to generate p-value
F3 <- linearHypothesis(reg8,c("motheduc = 0", "fatheduc = 0"))
F3

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 1187   465166.8 NA       NA        NA        NA
2 1185   464041.1  2 1125.657  1.437269 0.2379896