In [1]:
library(haven)
library(tidyverse)
crimedata<- read_dta("crime2_forlecture.dta")
head(crimedata)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

  pop    crimes unem officers west nrtheast south year city
1 229528 17136  8.2   326     1    0        0     82   1
2 246815 17306  3.7   321     1    0        0     87   1
3 814054 75654  8.1  1621     1    0        0     82   2
4 933177 83960  5.4  1803     1    0        0     87   2
5 374974 31352  9.0   633     1    0        0     82   3
6 406297 31364  5.9   685     1    0        0     87   3

In [2]:
reg1<- lm(crimes~unem, data = crimedata, subset = year==82)
summary(reg1)
mean(crimedata$crimes)

Call:
lm(formula = crimes ~ unem, data = crimedata, subset = year ==
    82)

Residuals:
   Min     1Q Median     3Q    Max
-42230 -16949  -7950  11062  94999

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)    18653      12466   1.496    0.142
unem            1936       1174   1.649    0.106

Residual standard error: 27150 on 44 degrees of freedom
Multiple R-squared:  0.05821,	Adjusted R-squared:  0.03681
F-statistic:  2.72 on 1 and 44 DF,  p-value: 0.1062

[1] 39663.53

In [3]:
#one way to create a wide dataset: first, create 2 data sets, one for each year
crimedata82 = subset(crimedata, year == 82)
crimedata87 = subset(crimedata, year == 87)
#merge data on city id
crimedatawide = merge(crimedata82, crimedata87, by = c("city"), suffixes = c(".82",".87"))
head(crimedatawide)

  city pop.82 crimes.82 unem.82 officers.82 west.82 nrtheast.82 south.82
1 1    229528 17136      8.2     326        1       0           0
2 2    814054 75654      8.1    1621        1       0           0
3 3    374974 31352      9.0     633        1       0           0
4 4    176496 15698     12.6     245        1       0           0
5 5    288446 31202     12.6     504        1       0           0
6 6    122768 16806     13.9     186        1       0           0
  year.82 pop.87 crimes.87 unem.87 officers.87 west.87 nrtheast.87 south.87
1 82      246815 17306     3.7      321        1       0           0
2 82      933177 83960     5.4     1803        1       0           0
3 82      406297 31364     5.9      685        1       0           0
4 82      201723 16953     5.7      259        1       0           0
5 82      331728 34355     7.4      563        1       0           0
6 82      142124 15931     5.7      232        1       0           0
  year.87
1 87
2 87
3 87
4 87
5 87
6 87

In [4]:
#generate new variables
crimedatawide$dcrime<-crimedatawide$crimes.87-crimedatawide$crimes.82
crimedatawide$dunem<-crimedatawide$unem.87-crimedatawide$unem.82

#run differenced regression
reg2<-lm(dcrime~dunem, data = crimedatawide)
summary(reg2)

Call:
lm(formula = dcrime ~ dunem, data = crimedatawide)

Residuals:
   Min     1Q Median     3Q    Max
-20069  -6075   -512   4213  39436

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   8279.0     2440.5   3.392  0.00148 **
dunem         1247.8      455.6   2.739  0.00887 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 10410 on 44 degrees of freedom
Multiple R-squared:  0.1456,	Adjusted R-squared:  0.1262
F-statistic:   7.5 on 1 and 44 DF,  p-value: 0.008873

In [5]:
crimedata$city<-as.factor(crimedata$city)
crimedata$y87<-crimedata$year==87
#run regression with city dummies
reg3<-lm(crimes~unem + city + y87 , data = crimedata)
summary(reg3)

Call:
lm(formula = crimes ~ unem + city + y87, data = crimedata)

Residuals:
   Min     1Q Median     3Q    Max
-19718  -2677      0   2677  19718

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   5657.0     6407.8   0.883 0.382126
unem          1247.8      455.6   2.739 0.008873 **
city2        61587.7     7367.8   8.359 1.24e-10 ***
city3        12265.3     7390.4   1.660 0.104104
city4        -4888.5     7501.8  -0.652 0.518019
city5        10503.8     7586.6   1.385 0.173181
city6        -5656.6     7565.0  -0.748 0.458596
city7        57918.0     7386.4   7.841 6.83e-10 ***
city8        45079.7     7367.8   6.118 2.26e-07 ***
city9        25743.1     7371.5   3.492 0.001103 **
city10        2278.7     7363.0   0.309 0.758419
city11      -12317.7     7363.8  -1.673 0.101478
city12       34545.9     7364.7   4.691 2.66e-05 ***
city13        6211.6     7359.3   0.844 0.403214
city14       -9050.0     7359.7  -1.230 0.225351
city15       -3878.8     7359.1  -0.527 0.600786
city16       34756.8     7493.1   4.638 3.15e-05 ***
city17       -6882.7     7372.9  -0.934 0.355649
city18        5061.8     7363.8   0.687 0.495447
city19       25409.8     7374.3   3.446 0.001264 **
city20       43458.7     7372.9   5.894 4.82e-07 ***
city21       12456.0     7433.0   1.676 0.100877
city22         371.1     7468.5   0.050 0.960596
city23       28216.9     7565.0   3.730 0.000545 ***
city24      117983.8     8294.6  14.224  < 2e-16 ***
city25       24336.1     7359.3   3.307 0.001885 **
city26        5727.9     7358.8   0.778 0.440516
city27       29111.4     7429.8   3.918 0.000308 ***
city28       16028.6     7575.7   2.116 0.040057 *
city29        1677.8     7907.1   0.212 0.832937
city30      -19196.8     7752.0  -2.476 0.017190 *
city31        5724.1     7397.1   0.774 0.443168
city32        8727.3     7539.4   1.158 0.253285
city33       26020.1     7781.1   3.344 0.001695 **
city34       31583.2     7388.4   4.275 0.000101 ***
city35       -1380.1     7703.3  -0.179 0.858637
city36       30404.1     7361.0   4.130 0.000159 ***
city37       36917.5     7406.9   4.984 1.02e-05 ***
city38        9410.0     7484.6   1.257 0.215298
city39       -2122.4     7397.1  -0.287 0.775517
city40       37228.5     7621.0   4.885 1.41e-05 ***
city41      122188.3     7363.8  16.593  < 2e-16 ***
city42       43065.6     7397.1   5.822 6.16e-07 ***
city43         988.4     7384.4   0.134 0.894128
city44        2760.0     7365.7   0.375 0.709673
city45        -538.6     7358.8  -0.073 0.941985
city46       26473.7     7534.4   3.514 0.001036 **
y87TRUE       8279.0     2440.5   3.392 0.001475 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 7359 on 44 degrees of freedom
Multiple R-squared:  0.9703,	Adjusted R-squared:  0.9386
F-statistic: 30.59 on 47 and 44 DF,  p-value: < 2.2e-16

In [2]:
trafficdata<-read_dta("TRAFFIC1.DTA")
head(trafficdata)

  state admn90 admn85 open90 open85 dthrte90 dthrte85 speed90 speed85
1 AL    0      0      0      0      2.6      2.9      1       0
2 AK    1      1      1      0      2.1      3.2      0       0
3 AZ    1      0      0      0      2.5      4.4      1       0
4 AR    0      0      0      0      2.9      3.4      1       0
5 CA    1      0      1      1      2.0      2.6      1       0
6 CO    1      1      0      0      1.9      2.4      1       0
  cdthrte    cadmn copen cspeed
1 -0.3000002 0     0     1
2 -1.1000001 0     1     0
3 -1.9000001 1     0     1
4 -0.5000000 0     0     1
5 -0.5999999 1     0     1
6 -0.5000001 0     0     1

In [3]:
#describe law changes
print("states with open container laws in 1990")
sum(trafficdata$open90)
print("states with open container laws in 1985")
sum(trafficdata$open85)
print("states with admin per se laws in 1990")
sum(trafficdata$admn90)
print("states with admin per se laws in 1985")
sum(trafficdata$admn85)

[1] "states with open container laws in 1990"

[1] 22

[1] "states with open container laws in 1985"

[1] 19

[1] "states with admin per se laws in 1990"

[1] 29

[1] "states with admin per se laws in 1985"

[1] 21

In [4]:
#difference-in-difference
trafficdata$change_open = trafficdata$open90-trafficdata$open85
trafficdata$change_death = trafficdata$dthrte90-trafficdata$dthrte85

#mean comparison
trafficdata %>%
    group_by(change_open) %>%
    summarize(meandth=mean(dthrte90))
    
    
#or, via regression
reg3<-lm(change_death~change_open, data = trafficdata)
summary(reg3)

  change_open meandth
1 0           2.125000
2 1           2.633333

Call:
lm(formula = change_death ~ change_open, data = trafficdata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.38125 -0.10729  0.01875  0.21875  0.81875

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.51875    0.04991 -10.393 5.51e-14 ***
change_open -0.44792    0.20580  -2.176   0.0344 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3458 on 49 degrees of freedom
Multiple R-squared:  0.08815,	Adjusted R-squared:  0.06954
F-statistic: 4.737 on 1 and 49 DF,  p-value: 0.03437

In [5]:
#generate change in admin per se laws
trafficdata$change_admn <-trafficdata$admn90-trafficdata$admn85
reg4<-lm(change_death~change_open + change_admn, data = trafficdata)
summary(reg4)

Call:
lm(formula = change_death ~ change_open + change_admn, data = trafficdata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.25261 -0.14337 -0.00321  0.19679  0.79679

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.49679    0.05243  -9.476 1.43e-12 ***
change_open -0.41968    0.20559  -2.041   0.0467 *
change_admn -0.15060    0.11682  -1.289   0.2035
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3435 on 48 degrees of freedom
Multiple R-squared:  0.1187,	Adjusted R-squared:  0.08194
F-statistic: 3.231 on 2 and 48 DF,  p-value: 0.04824

In [6]:
subset(trafficdata$state, trafficdata$change_open ==1)

[1] "AK" "FL" "NM"

In [7]:
A<- mean(subset(trafficdata$dthrte85, trafficdata$change_open==1))
B<-mean(subset(trafficdata$dthrte85, trafficdata$change_open==0))
rbind(A,B)

  [,1]
A 3.60000
B 2.64375