In [1]:
# load some needed packages and data
library(haven)
library(tidyverse)
yields <- read_dta("irr_yields.dta")

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.0     ✔ stringr 1.3.0
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
# find out means of log yield by irrigated status
#declare the dataset
yields %>%
#tell it to sort by irrigation status
group_by(irr_loc) %>%
#ask it what the means are
summarize(meanyield = mean(ln_tot_yield, na.rm = T))

  irr_loc meanyield
1 0       7.178373
2 1       7.549421

In [3]:
#same for standard deviations
yields %>%
group_by(irr_loc) %>%
summarize(sdyield = sd(ln_tot_yield, na.rm = T))

  irr_loc sdyield
1 0       1.567387
2 1       1.514265

In [4]:
#find out n
yields %>%
group_by(irr_loc) %>%
filter(is.na(ln_tot_yield == F)) %>%
count(ln_tot_yield)

  irr_loc ln_tot_yield n
1 0       NA            778
2 1       NA           1309